[submodule ".\\results\\"]
	path = .\\results\\
	url = https://github.com/ramirofd/contact_tracing_sim_results
[submodule "results"]
	path = results
	url = https://github.com/ramirofd/contact_tracing_sim_results
